@font-face {
    font-family: 'India flower';
    font-style: NORMAL_OR_ITALIC;
    font-weight: NUMERIC_WEIGHT_VALUE;
    src: url(/fonts/IndieFlower-Regular.ttf) format('woff2');
  }
  @font-face {
    font-family: 'kaushan';
    font-style: NORMAL_OR_ITALIC;
    font-weight: NUMERIC_WEIGHT_VALUE;
    src: url(/fonts/KaushanScript-Regular.ttf) format('woff2');
  }
  /* General styles */
  body {
    font-family: 'India flower', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5c8e6;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: rgb(83, 43, 136);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  header h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Navigation styles */
  nav {
    background-color: #f4effa;
    padding: 10px 0;
    border-radius: 05px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(83, 43, 136);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #2f184b;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .hero-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #f4effa;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-color: #2f184b;
  }
  
  .hero-text h1 {
    color: #000000;
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'kaushan', sans-serif;
  }
  
  .hero-text p{
    font-size: 1.4rem;
  }
  
  .explore h2 {
    text-align: center;
    color: #f4effa;
    font-size: 1.8em;
    margin-bottom: 20px;
    background-color: #532b88;
    border-radius: 10px;
  }
  
  .image-placeholder img {
    background-color: #ddd;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  }
  .contenido {
    box-shadow: #f4effa;
    background-color:#f4effa;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
  }
  .contenido p{
    text-align: center;
    font-size: medium;
    padding: 10px;
  }
  .music-spotify {
    height: 70px;
  }
  
  footer{
    background-color: #532b88;
    color: #f4effa;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }
  
    .collage {
      margin-bottom: 20px;
    }
  
    .explore-item {
      width: 100%;
    }
  }
  
  